%div{:class => "page-header"}
	%h1 
		Boosterworks
/ ! end header
%div{:class => "row"}
	%div{:class => "span8"}
		%h2
			Shift scheduling and management, made easy.
	%div{:class => "span4"}
		%h2{:class => "btn btn-success btn-large"}
			Join Now!
		Try Boosterworks, 100% free
/ ! end row
%hr
.row
	.span4
		%h2{:class => "lead"}
			dummy
		Lorem ipsum enim aliquet eu elementum eu hac, praesent suscipit conubia tristique vel ut, nostra varius arcu pulvinar cras aliquam enim aliquam eu mattis platea ac nam.
	.span4
		%h2{:class => "lead"}
			filler
		Habitant himenaeos consequat inceptos phasellus porta condimentum senectus rutrum vivamus, rutrum praesent faucibus class sem praesent bibendum ullamcorper gravida, imperdiet malesuada nisi iaculis donec senectus nulla primis.
	.span4
		%h2{:class => "lead"}
			nonsense
		Fermentum est elementum consequat fermentum auctor suspendisse sodales vestibulum integer, pulvinar semper nullam erat rhoncus etiam conubia interdum vivamus, luctus tempus suspendisse arcu auctor per himenaeos vivamus.




