%div{:class => "page-header"}
	%h1 
		Boosterworks
/ ! end header
%div{:class => "row"}
	%div{:class => "span8"}
		%h2
			Shift scheduling and management, made easy.
	%div{:class => "span4"}
		%a{:href => "/pricing"}
			%h2{:class => "btn btn-success btn-large"} Get Started, Free!
/ ! end row
%hr
.row
	.span4
		%h2{:class => "lead"} Less Paperwork
		Your members manage their own signups - you don't need to keep track of who is working when, what funding they earned, or what the funding is designated for. You can view this information in BoosterWorks, or export it at any time. 
	.span4
		%h2{:class => "lead"} More Signups
		Members can browse events and shifts at any time, day or night, and sign themselves up to work then and there. Its easy for them to do, and easy for them to be informed about opprotunities available.
	.span4
		%h2{:class => "lead"} Low Cost, High Return
		Drastically reducing the administrative overhead for your fundraising coordinators leaves them free to pursue other tasks, like motivating members, innovating with new fundraisers, or just rteregaining a little control of their lives.  




