%h3= @organization.name
%hr
%p Welcome to your organizations's landing page. From here, you can browse events, sign up to work, and view other information made available to you. 

%div.row
	%div.span6
		%h4 Upcoming Events

	%div.span6
		%h4 Your Scheduled Shifts
